<% if flash[:alert] != nil %>
<div class='alert alert-success mt-4'>
 <center> <%= flash[:alert] %></center>
</div>
<%end%>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <%if @user.photo.attached?%>
  <%=image_tag @user.photo , size: "250x250"  %>
  <%else%>
  <%=image_tag ('user.png'), size: '250x250'%>
  <%end%>
  <h1 class="display-4">Profil</h1>
  <p class="lead"> <%= @user.first_name %> </p>
  <p class="lead"> <%= @user.email %> </p>

  <% if current_user.id == @user.id %>
  <a style="margin-left: 20px; color: gray; text-decoration: none;"><%=link_to "Editer ton profil", edit_user_path(current_user.id) , style: "color: gray; text-decoration: none;" %></a>
  <%else%>
  <%nil%>
  <%end%>
</div>
<center>
<div style="margin-top: 10px;">
<h6>Tes événements :</h6>
</div>
<%@event.reverse_each do |e|%>
  <a href="<%=event_path(e.id)%>" class="text-body" style="text-decoration: none;">
    <div class="card indexcard" style="width: 21rem;">
     <div class="card-img-top">
      <%if e.avatar.attached? == true%>
      <%=image_tag e.avatar, alt: 'photo de profil', size: '335x169', style: "border-radius: 10px 10px 0px 0px;"%>
      <%else%>
      <p style="height: 169px; margin-bottom: 0px; justify-content: center;">Ajoute une photo</p>
      <%end%>
    </div>
    <div class="card-body">
      <div class="titre" style="display: flex;">
        <span class="badge badge-white" style="margin-right:20px; font-size: .9rem;"><small style="color:orange;"><%=e.mois%></small><br><%=e.jour%></span>
        <p class="card-text my-text" style="font-size: 1.25rem; width: 80%;"><cente><%=e.title%> <br><% if e.is_free?%><span class="badge badge-danger">GRATUIT !</span><%end%></cente></p>
      </div>
      <small><p style="font-size: 10px;" class="text-secondary">
       <%if e.is_free? == false%>
       À partir de : <%=e.price%>.00 €
       <%end%>
       <br>
       <%=e.message_time%>, Durée : <%=e.duration%> min
       <br>
       <%= content_tag(:i, "", class: "fas fa-map-marker-alt text-body") %></i> <%=e.location%></p></small>
     </div>
   </div>
 </a>
 <%end%>
</center>