<% if flash[:alert] != nil %>
<div class='alert alert-success mt-4'>
 <center> <%= flash[:alert] %></center>
</div>
<%end%>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Profil</h1>
  <p class="lead"> <%= @user.first_name %> </p>
  <p class="lead"> <%= @user.email %> </p>
  <a style="margin-left: 20px; color: gray; text-decoration: none;"><%=link_to "Editer ton profil", edit_user_path(current_user.id) , style: "color: gray; text-decoration: none;" %></a>
  <br>
</div>
<center>
<div style="margin-top: 10px;">
<h6>Tes événements :</h6>
</div>
<%@event.reverse_each do |g|%>
<a href="<%=event_path(g.id)%>" class="text-body" style="text-decoration: none;">
<div class="card usershow" style="width: 21rem;">
	<div class="card-img-top">
  <%=image_tag('back.jpg',size: '335x169', style: "border-radius: 10px 10px 0px 0px;")%></div>
  <div class="card-body">
    <p class="card-text my-text"style="font-size: 1.25rem;"><%=g.title%></p>
     <small><p style="font-size: 10px;" class="text-secondary">
     À partir de <%=g.price%>.00 €
     <br>
    <%=g.message_time%>, Durée : <%=g.duration%> min
   	<br>
    <%=g.location%></p></small>
  </div>
</div>
</a>
  <%end%></center>