<% if flash[:alert] != nil %>
    <div class='alert alert-success mt-4'>
       <center> <%= flash[:alert] %></center>
    </div>
  <%end%>
	
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag ('eventbrite.jpg'), class:"d-block w-100" %>

    </div>
    <div class="carousel-item">
      <%=image_tag ('celeb.jpg'), class:"d-block w-100" %>
  
    </div>
    <div class="carousel-item">
      <%=image_tag ('yoga.jpg'), class:"d-block w-100" %>
    
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>




<div class="body">

  <h2 style="color: #1e0a3c; margin-left: 30px; font-weight: bold;">Vivez le meilleur</h2>

	
<center>

<%@event.all.reverse_each do |e|%>
<a href="<%=event_path(e.id)%>" class="text-body" style="text-decoration: none;">
<div class="card indexcard" style="width: 21rem;">
	<div class="card-img-top">
    <%if e.avatar.attached? == true%>
    <%=image_tag e.avatar, alt: 'photo de profil', size: '335x169', style: "border-radius: 10px 10px 0px 0px;"%>
    <%else%>
    <p style="height: 169px; margin-bottom: 0px; justify-content: center;"> Ajouter une photo</p>
    <%end%>
  </div>
  <div class="card-body">
    <p class="card-text my-text" style="font-size: 1.25rem;"><%=e.title%></p>
  
     <small><p style="font-size: 10px;" class="text-secondary">
     À partir de <%=e.price%>.00 €
     <br>
    <%=e.message_time%>, Durée : <%=e.duration%> min
   	<br>
    <%=e.location%></p></small>
  </div>
</div>
</a>
  <%end%>
</center>