<% if flash[:alert] != nil %>
    <div class='alert alert-success mt-4'>
       <center> <%= flash[:alert] %></center>
    </div>
  <%end%>
<div class="jumbotron jumbotron-fluid">
	<h1 class="display-3 text-white" style="margin-left: 20px;">Hello, <%if user_signed_in?%><%=current_user.first_name%><%else%><%=nil%><%end%></h1>
	<p class="display-3 text-white" style="margin-left: 20px;"> Welcome sur cette magnifique page ! </p>
	<p class="lead text-white" style="margin-left: 20px;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

	<a class="btn btn-primary btn-lg" href="#card" role="button" style="margin-left: 20px;">Learn more</a>
</div>
<div class="body">

	
<center>

<%@event.all.reverse_each do |e|%>
<a href="<%=event_path(e.id)%>" class="text-body" style="text-decoration: none;">
<div class="card indexcard" style="width: 21rem;">
	<div class="card-img-top">
  <%=image_tag('back.jpg', size: '335x169', style: "border-radius: 10px 10px 0px 0px;")%></div>
  <div class="card-body">
    <p class="card-text my-text" style="font-size: 1.25rem;"><%=e.title%></p>
  
     <small><p style="font-size: 10px;" class="text-secondary">
     À partir de <%=e.price%>.00 €
     <br>
    <%=e.message_time%>, Durée : <%=e.duration%> min
   	<br>
    <%=e.location%></p></small>
  </div>
</div>
</a>
  <%end%>
</center>