<h1>Creer un evenement</h1>

<%if @new_event.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    	<p><strong>Hola muchachos !</strong>  Nous n'avons pas réussi à créer l'événement pour la (ou les) raison(s) suivante(s) :</p>
    	<% @new_event.errors.full_messages.each do |message| %>
      <li><%= message %></li>

    <% end %>
    <%end%>
    <br>


<%= form_tag url_for(action: 'create'), method: "post" do %>

<form>
	<div class="form-row" style="width: 70%; margin: auto;">
		<div class="form-group col-md-6">
			<label for="inputEmail4">Title</label>
			<%= text_field_tag 'title', @new_event.title, class: "form-control" %>
		</div>
		<div class="form-group col-md-6">
			<label for="inputPassword4">Description</label>
			<%= text_field_tag 'description', @new_event.description, class: "form-control" %>
		</div>
	</div>

	<div class="form-row" style="width: 70%; margin: auto;">
		<div class="form-group col-md-6">
			<label>Duration</label>
			<%= number_field_tag 'duration', @new_event.duration, class: "form-control" %> 
		</div>

		<div class="form-group col-md-6">
			<label for="inputAddress2">Start date</label>
			<%= date_field_tag 'start_date', @new_event.start_date, class: "form-control" %>
		</div>
	</div>

  <div class="form-row" style="width: 70%; margin: auto;">
	<div class="form-group col-md-6">
		<label for="inputCity">Price</label>
		<%= number_field_tag'price', @new_event.price, class: "form-control" %>
	</div>
	<div class="form-group col-md-6">
		<label for="inputCity">Location</label>
		<%= text_field_tag 'location', @new_event.location, class: "form-control" %>
	</div>
</div>
<br>
<center><p type="submit" style="width: 20%; height: 10px;"><%= submit_tag "Create Event", class: "btn btn-primary" %></p></center>
</form>
<%end%>
