<% if flash[:alert] != nil %>
<div class='alert alert-success mt-4'>
 <center> <%= flash[:alert] %></center>
</div>
<% end %>
<% if flash[:error] != nil %>
<div class='alert alert-danger mt-5'>
    <center> <%= flash[:error] %></center>
</div>
<% end %>
<div class="pricing-header px-2 py-3 pt-md-2 pb-md-2 mx-auto text-center">
  <h1 class="display-4"><%= @event.title%></h1>
  <p class="lead"><strong>Son lieu :</strong> <%=@event.location%></p>
  <p class="lead"><strong>Date de début :</strong> <%=@event.message_time%> | <strong>Durée :</strong> <%=@event.duration%> minutes</p>
  <p class="lead"><strong>Description :</strong> "<%=@event.description%>"</p>
  <p class="lead"><strong>Prix :</strong> <%=@event.price%> euros</p>
  <p class="lead"><strong>Créé par :</strong> <%=@event.admin.first_name%> / <%=@event.admin.email%></p>
  <p class="lead"><strong>Nombre de participants : <%=Attendance.where(event_id: params[:id]).count%></p>

      <%if @is_admin || @deja_participant %>
      <%=link_to "Lien pour rejoindre cet evenement", new_charge_path%> 
      <%else%>
      <%=nil%>
      <%end%>

      <%= form_tag event_subscribe_path do %>
      <article>
        <% if flash[:error].present? %>
        <div id="error_explanation" style="height: 100px;">
            <p><%= flash[:error] %></p>
        </div>
        <% end %>
        <label class="amount lead">
          <span><strong>Amount:</strong> <%=@event.price%> €</span>
      </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="A month's subscription"
  data-amount="<%=@event.price * 100%>"
  data-currency="eur"
  data-locale="auto"></script>
  <% end %> 
  <br>
  
    <%=link_to "Editer cet événement", edit_event_path(@event), class:"stripe-button", style: "margin-right: 10px;"%>
   
    <%= link_to "Supprimer cet événement", @event_destroy, :method => :delete, data: {confirm: "Are you sure ?"}, class:"stripe-button"%>

    <p>Liste des participants :</p>         
    <%@event.users.each do |u|%>
    <%=u.first_name%>, <%=u.email%>
    <%end%>
    
</div>

   
