<!DOCTYPE html>
<html>
  <head>
    <title>CheapEventBrite</title>
   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  <%= favicon_link_tag asset_path('favicon.png') %>
  
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=root_path%>" style="color: orange;" >
    CheapEventBrite
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%=new_event_path%>">Créer un événement <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="<%=users_show_path%>">Profile</a>
      </li>
    </ul> 
      <ul class="navbar-nav ml-auto">
      <%if !user_signed_in?%>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in / Log in
        </a>
        <%else%>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ml-auto" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Log out / Edit Profile
          </a><%end%>
         
          

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%if !user_signed_in?%>
            <center><a class="dropdown-item" href="<%=new_user_registration_path%>" style="color: gray;">Sign in</a></center>
            <center><a class="dropdown-item" href="<%=new_user_session_path%>" style="color: gray;">Log in</a></center>
            <%else%>
            <center><a class="dropdown-item" href=""><%=link_to "Log out", destroy_user_session_path, method: :delete,data: {confirm: "Veux tu vraiment nous quitter ?"}, style:"color: gray; text-decoration: none;"%>
            </a></center>
            <br>
           <center><a href="<%=edit_user_registration_path%>" style="color: gray; text-decoration: none;">Edit Profile</a></center>
           <center><a href=""></a></center>
          </div>
        </li>
    
        <%end%>
      </ul>
    </div>
  </nav>
  <body>
    <div class="yield">
      <%= yield %>
    </div> 
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </html>

